*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.nav{
    background-color: #333;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    /* border-bottom: 1px solid #dadada; */
}
.nav-part2{
    display: flex;
    gap: 4vw;
    align-items: center;
}
.nav h2{
    font-size: 2vw;
    font-weight: 700;
    text-transform: uppercase;
}
span{
color: rgb(235, 8, 8);
font-size: 1.1vw;
font-weight: 700;
}
.nav h4{
    font-size: 1.23vw;
    font-weight: 700;
}

.content{
    /* overflow-y: hidden; */
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
}
.left{
    width: 50%;
    background-color: #dadada;
    height: 100%;
    padding: 9vw 4vw;
}
.left h1{
    font-size: 5vw;
    width: 80%;
    line-height: 4.9vw;
}
.left p{
    text-transform: uppercase;
    font-size: 0.9vw;
    margin-top: 0.6vw;
    margin-bottom: 2.4vw;
    letter-spacing: 0.2vw;
    position: relative;
}
.left p::after{
    content: '';
    width: 4vw;
    bottom: 0;
    left: 1px;
    height: 2px;
    background-color: red;
    position: absolute;
}
.right img{
    height: 100%;
    width: 100%;
}
button{
    padding: 0.7vw 2vw;
    text-transform: uppercase;
    font-size: 0.8vw;
    word-spacing: 0.3vw;
    font-weight: 700;
    color: white;
    cursor: pointer;
    /* border-radius: 1vw; */
    background-color: rgb(235, 8, 8);
}

.right{
    width: 50%;
    /* background-color: cornflowerblue; */
    height: 100%; 
}
.nav2{
    background-color: #333;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     display: none; 
    gap: 2vw;
    color: white;
    position: absolute;
    z-index: 99;

}


@media (max-width:600px) {
    span{
        font-size: 2.5vw;
    }
    .nav{
        padding: 0 5vw;
        height: 60px;
        /* background-color: yellow; */
    }
    .nav h2{
 font-size: 6vw;
    }
    .nav h4{
        display: none;
    }
    .bar2{
        width: 15px;
    }
    .bar{
        margin-top: 5px;
        width: 20px;
        height: 4px;
        display: block;
        background-color:white;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 50%;
        padding: 10vw 5vw;
    }
    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 2.6vw;
        margin-top: 1.1vw;
        margin-bottom: 6vw;
    }
    .left p::after{
        content: '';
        width: 7vw;
        bottom: 0;
        left: 1px;
        height: 2px;
        background-color: red;
        position: absolute;
    }
    button{
        padding: 1.5vw 4vw;
        font-size: 3vw;
        border-radius:1vw ;
    }
    .right{
        width: 100%;
        height: 50%;
    }
    .nav2{
        background-color: #333;
        height: 45%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
        gap: 2vw;
        color: white;
        position: absolute;
        z-index: 99;
    
    }
}
